.scroll-graph {
  z-index: -1;
  overflow: hidden;
  position: relative;

  .spacer {
    height: 100vh;
  }

  .clip(...) {
    -webkit-clip-path: @arguments;
    clip-path: @arguments;
  }

  .season {
    height: 120vh;

    .backdrop {
      transition: all .3s ease-in-out;
      background: url(http://placekitten.com/1200/1200);
      background-size: cover;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .clip(circle(0 at 50% 50%));
      transform: translateZ(0);
      will-change: clip-path;
    }

    &.active .backdrop {
      .clip(circle(100% at 50% 50%));
    }

    &[data-season="1"] .backdrop { background: url(http://placekitten.com/1199/1199) }
    &[data-season="2"] .backdrop { background: url(http://placekitten.com/1201/1201) }
    &[data-season="3"] .backdrop { background: url(http://placekitten.com/1200/1200) }
    &[data-season="4"] .backdrop { background: url(http://placekitten.com/1203/1203) }

    &[data-season="1"] { background: lighten(salmon, 20%) }
    &[data-season="2"] { background: lighten(papayawhip, 20%) }
    &[data-season="3"] { background: lighten(rebeccapurple, 20%) }
    &[data-season="4"] { background: lighten(sandybrown, 20%) }
  }

  .viz {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background: fade(black, 50%);

    canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}