@import "seattletimes";

nav.main-nav {
  z-index: 999;
}

header.intro {
  height: 20vh;
  z-index: 1;
  position: relative;
  background: white;
  box-shadow: 0 8px 8px 16px fade(black, 15%);
}

@import "scroll";

.follow-up {
  height: 200vh;
  background: @df-middle-gray;
}