<!doctype html>
<html>
  <head>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <div class="debug" style="position: fixed; z-index: 999; background: black; color: white"></div>

    <header class="intro">

    </header>

    <section class="scroll-graph">

      <% for (var i = 1; i < 5; i++) { %>
      <div class="season" data-season="<%= i %>">
        <div class="backdrop"></div>
      </div>
      <% } %>

      <div class="spacer"></div>

      <div class="viz">
        <canvas class="graph"></canvas>
      </div>

    </section>

    <section class="follow-up">

    </section>

    <footer class="credits">

    </footer>

    <%= t.include("partials/_navBottom.html") %>

    <script>
window.plum = <%= JSON.stringify(json.plum) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
